<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/formal.css' | relative_url }}">
</head>
<body>
    <main>
        {{ content }}
    </main>
    {% raw %}
    <script src="https://giscus.app/client.js"
            data-repo="cgjteam/cgjteam.github.io"
            data-repo-id="R_kgDOTR02nQ"
            data-category="General"
            data-category-id="DIC_kwDOTR02nc4DAyD1"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="en"
            crossorigin="anonymous"
            async></script>
    {% endraw %}
</body>
</html>
